# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
env/
menv/

# Pytest
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code
.vscode/

# JetBrains
.idea/

# OS files
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints

# Coverage
.coverage
coverage.xml

# Ignore compiled python in site-packages
menv/Lib/site-packages/
